<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="news-feed">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>News Feed</ion-label>

      </ion-tab-button>

      <ion-tab-button tab="gallery">
        <ion-icon name="images-outline"></ion-icon>
        <ion-label>Gallery</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="enquiry">
        <ion-icon name="mail-open-outline"></ion-icon>
        <ion-label>Enquiry</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>